@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.home-navbar {
  .nav-menu {
    a {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 100%;
        width: 0;
        height: 2px;
        background: #000;
        transition: all 0.5s linear;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
  .bars-menu {
    display: none;
  }
}

.home-advice {
  .background {
    background: url(../images/home/advice/bg.png) no-repeat center;
    background-size: cover;
  }
}

.home-about {
  .background {
    background: url(../images/home/about/background.png) no-repeat center;
    background-size: cover;
  }
}

.home-services {
  position: relative;

  .background {
    background: url(../images/home/services/bg.png) no-repeat center;
    background-size: cover;
  }
}

// Navbar Responsive Design Media
@media (max-width: 768px) {
  .home-navbar {
    position: relative;
    align-items: center;
    justify-content: space-between;
    .nav-logo {
      position: relative;
      width: 40%;
    }
    .nav-menu {
      position: absolute;
      z-index: 11;
      top: 80px;
      transform: translateX(-120%);
      width: 100%;
      align-items: flex-end;
      padding: 20px;
      flex-direction: column;
      background: #000;
      gap: 20px;
      color: #fff;
      a {
        width: 100%;
        min-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
        &:hover {
          background-color: #fff;
          border: 1px solid blue;
          color: blue;
        }
      }
      &.active-menu {
        top: 80px;
        left: 0;
        transform: translateY(0);
      }
    }
    .nav-login {
      width: 40%;
    }
    .bars-menu {
      display: flex !important;
    }
  }

  .home-advice {
    .heading {
      font-size: 30px !important;
    }
    .line {
      width: 150px;
      top: 40px;
      right: 50px;
    }
    .background {
      .reference {
        top: 0;
      }
    }
  }
  .home-about {
    .heading {
      font-size: 20px !important;
    }
    .about-box {
      flex-direction: column;
      .background {
        width: 100%;
        .user {
          right: 30px;
        }
      }
      .right {
        width: 100%;
        padding: 0;
        margin: 40px 0;
      }
    }
  }

  .home-services {
    .heading {
      font-size: 25px;
    }
    .paragraph {
      font-size: 16px;
    }
    .element {
      width: 100%;
      gap: 20px;
      padding: 20px 0;
      ol {
        li {
          font-size: 20px !important;
        }
      }
    }
    .background {
      width: 100%;
      left: 0;
      top: 80%;
    }
  }
}
