@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.bars-menu {
  display: none;
}

.advice .background {
  background: url(../images/home/advice/bg.png) no-repeat center;
  background-size: cover;
}

.about .background {
  background: url(../images/home/about/background.png) no-repeat center;
  background-size: cover;
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .nav-logo {
    position: relative;
    width: 40%;
  }
  .navbar .nav-menu {
    position: absolute;
    z-index: 11;
    top: 80px;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #000;
    gap: 20px;
    color: #fff;
  }
  .navbar .nav-menu a {
    width: 100%;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: blue;
  }
  .navbar .nav-menu a:hover {
    background-color: #fff;
    border: 1px solid blue;
    color: blue;
  }
  .navbar .nav-menu.active-menu {
    top: 80px;
    left: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .navbar .nav-login {
    width: 40%;
  }
  .navbar .bars-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advice .heading {
    font-size: 30px !important;
  }
  .advice .line {
    width: 150px;
    top: 40px;
    right: 50px;
  }
  .advice .background .reference {
    top: 0;
  }
  .about .heading {
    font-size: 20px !important;
  }
  .about .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-box .background {
    width: 100%;
  }
  .about .about-box .background .user {
    right: 30px;
  }
  .about .about-box .right {
    width: 100%;
    padding: 0;
    margin: 40px 0;
  }
}